{% extends 'common/layout.html' %}

{% block content %}
<style>
    .form-group {
    margin-bottom: 30px;
}
</style>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>스터디 만들기</h2>
                        <p>스터디를 만들어 보세요.</p>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2>모집글제목</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <input type="text" id="srTitle" class="form-control input-lg" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2>스터디명</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <input type="text" id="sgName" class="form-control input-lg" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2>인원</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <div class="bootstrap-select fm-cmp-mg">
                                        <select id="sgCnt" class="selectpicker">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2>카테고리</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <div class="bootstrap-select fm-cmp-mg" id="categorySelectDiv">
                                        <select id="sgCategory" class="selectpicker">
                                            {% for item in sgCategory %}
                                            <option value="{{item.CC_NAME}}">{{item.CC_DESC}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn sm-res-mg-t-10">
                                <h2>기술스택</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <div class="chosen-select-act fm-cmp-mg">
                                        <select id="stCode" class="chosen" multiple data-placeholder="기술스택">
                                            {% for item in stName %}
                                            <option value="{{item.CC_NAME}}">{{item.CC_DESC}}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2>스터디설명</h2>
                            </div>
                            <div class="form-group">
                                <div class="nk-int-st">
                                    <textarea id="srContent" class="form-control" rows="5" placeholder=""></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-int mg-t-15">
                                <button id="createBtn" class="btn btn-success notika-btn-success">만들기</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./create.js"></script>
{% endblock %}
