{% extends 'common/layout.html' %}

{% block content %}
<style>
    .form-group {
        margin-bottom: 30px;
    }

    .commentBtnDiv {
        margin-bottom: 30px;
    }

    .commentModifyBtn {
        margin-top: 10px;
    }
</style>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="recruitDetail" data-sgId="{{sgId}}" data-srId="{{srId}}">
                <div class="form-element-list mg-t-30">
                    <div id="studyDetail">
                    </div>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h4>댓글</h4>
                                <textarea id="srcContent" class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-int mg-t-15 commentBtnDiv">
                                <button id="createBtn" class="btn btn-success notika-btn-success waves-effect">댓글달기</button>
                            </div>
                        </div>
                    </div>
                    <div id="commentList">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./detail.js"></script>
{% endblock %}
