{% extends 'common/layout.html' %}

{% block content %}
<style>
    .margin0 {
        margin: 0;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .hover-color:hover {
        background-color: #EEEEEE;
    }
    .alignRight {
        text-align: right;
    }
    .closed {
        opacity: 0.4;
    }
    .stNameStyle{
        background-color: #F0EEE8;
        padding: 4px 6px;
        margin-right : 4px;
        border-radius: 6px;
    }
    .radiusDiv {
        border-radius: 10px;
    }
    .backColorGreen {
        background-color: #00c292;
    }
    .active {
        font-weight: bold;
    }
</style>

<div class="breadcomb-area margin0" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-ctn">
                                    <h2>프로젝트 소개</h2>
                                    <p>스터디 모집 <span class="bread-ntd">스터디 관리</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <img src="images/캡처2.JPG" alt="" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-int mg-t-15">
                                <a href="/create" class="btn btn-success notika-btn-success">스터디 만들기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="navbar">
    <div class="navbar-inner backgroundColorWhite">
        <div class="container-pro wizard-cts-st">
            <input type="hidden" id="sgCategory" value="all">
            <ul class="nav nav-pills" id="category">
                <li class="active">
                    <a href="#" data-toggle="tab" data-sgCategory="all">전체</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab" data-sgCategory="001">공부</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab" data-sgCategory="002">프로젝트</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab" data-sgCategory="003">알고리즘</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab" data-sgCategory="004">모각코</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab" data-sgCategory="005">기타</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="toggle-select-act fm-cmp-mg alignRight">
                            <div class="nk-toggle-switch">
                                <label for="openYn" class="ts-label">모집중인 글만 보기</label>
                                <input id="openYn" type="checkbox" hidden="hidden" checked>
                                <label for="openYn" class="ts-helper"></label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="studyList">
</div>

{% endblock %}

{% block script %}
<script src="./main.js"></script>
{% endblock %}