{% extends 'common/layout.html' %}

{% block content %}
<style>
    .margin0 {
        margin: 0px;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .alignCenter {
        text-align: center;
    }
    .alignRight {
        text-align: right;
    }
    .active {
        font-weight: bold;
    }
</style>

<div id="dashBoardTitle">
</div>

<div class="navbar">
    <div class="navbar-inner backgroundColorWhite">
        <div class="container-pro wizard-cts-st">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#" data-toggle="tab">대시보드</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">일정</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">게시판</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">팀원목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="normal-table-area">
    <input type="hidden" id="sgId" value="{{sgId}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>게시판 목록</h2>
                    </div>
                    <div class="alignRight">
                        <button id="goDashBoard" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-menus"></i>&nbsp;대시보드</button>
                        <button id="createBtn" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-checked"></i>&nbsp;글쓰기</button>
                    </div>
                    <div class="bsc-tbl-hvr">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>공지여부</th>
                                    <th>번호</th>
                                    <th>제목</th>
                                    <th>작성자</th>
                                    <th>작성일자</th>
                                    <th>조회수</th>
                                </tr>
                            </thead>
                            <tbody id="boardList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./manage/boardList.js"></script>
{% endblock %}