{% extends 'common/layout.html' %}

{% block content %}
<style>
    .margin0 {
        margin: 0px;
    }
    .active {
        font-weight: bold;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .form-group {
        margin-bottom: 30px;
    }
    .fontBold {
        font-weight: bold;
    }
    .noVisible {
        display: none;
    }
    .validateEm {
        background-color: #00c292;
    }
</style>

<div id="dashBoardTitle">
</div>

<div class="inbox-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mg-t-30">
                <div class="view-mail-list sm-res-mg-t-30">
                    <div class="view-mail-hd">
                        <input type="hidden" id="sgId" value="{{sgId}}">
                        <input type="hidden" id="sbId" value="{{sbId}}">
                        <input type="hidden" id="mode" value="{{mode}}">
                        <div class="view-mail-hrd">
                            {% if mode === 'create' %}
                                <h2>게시글 등록</h2>
                            {% else %}
                                <h2>게시글 수정</h2>
                            {% endif %}
                        </div>
                    </div>
                    <div class="cmp-int mg-t-20">
                        <div id="noticeYn" class="row noVisible">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span class="fontBold">공지등록 </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="checkbox" id="sbNoticeYn">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span class="fontBold">제목 </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <input type="text" id="sbTitle" class="form-control" placeholder="" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-12">
                                <div class="cmp-int-lb cmp-int-lb1 text-right">
                                    <span class="fontBold">내용 </span>
                                </div>
                            </div>
                            <div class="col-lg-11 col-md-10 col-sm-10 col-xs-12">
                                <div class="form-group">
                                    <div class="nk-int-st cmp-int-in cmp-email-over">
                                        <textarea id="sbContent" class="form-control" rows="10" placeholder=""></textarea>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div id="validate" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                                {% if mode === 'create' %}
                                    <button id="createBtn" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-checked"></i> 만들기</button>
                                {% else %}
                                    <button id="updateBtn" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-checked"></i> 수정하기</button>
                                {% endif %}
                                <button id="cancelBtn" class="btn btn-default btn-icon-notika waves-effect">취소</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block script %}
<script src="./manage/boardCreate.js"></script>
{% endblock %}