{% extends 'common/layout.html' %}

{% block content %}
<style>
    .noVisible {
        display: none;
    }
    .margin0 {
        margin: 0px;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .active {
        font-weight: bold;
    }
    .whiteSpace {
        white-space: pre;
    }
    .floatLeft {
        float: left;
    }
    .fontLarge {
        font-size: large;
    }
</style>

<div id="dashBoardTitle">
</div>

<div class="navbar">
    <div class="navbar-inner backgroundColorWhite">
        <div class="container-pro wizard-cts-st">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#" data-toggle="tab">대시보드</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">일정</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">게시판</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">팀원목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="typography-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" id="sbId" value="{{sbId}}">
                <input type="hidden" id="sgId" value="{{sgId}}">
                <div class="typography-heading typography-mgn mg-t-30">
                    <div id="boardDetail" class="typography-hd-cr-1">
                        <h1 id="sbTitle" class="mg-t-10"></h1>
                        <div id="userInfo" class="floatLeft fontLarge"></div>
                        <div class="text-right fontLarge mg-b-15">
                            <span id="sbRegDate"></span>&nbsp;&nbsp;

                            <i class="fas fa-eye"></i>
                            <span id="sbViews"></span>&nbsp;&nbsp;
                        </div>
                    </div>
                    <div class="typography-hd-cr-2">
                        <p class="whiteSpace" id="sbContent"></p>
                    </div>
                    <div class="text-right">
                        <button id="modifyBtn" class="btn btn-default btn-icon-notika waves-effect noVisible">수정</button>
                        <button id="removeBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#removeModal"><i class="notika-icon notika-checked"></i>&nbsp;삭제</button>
                        <button id="goList" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-menus"></i>&nbsp;목록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 게시글 삭제확인 모달창 -->
<div class="modal fade removeModal" id="removeModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>게시글을 삭제하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="removeOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /게시글 삭제확인 모달창 -->

{% endblock %}

{% block script %}
<script src="./manage/boardDetail.js"></script>
{% endblock %}