{% extends 'common/layout.html' %}

{% block content %}
<style>
    .dbContent {
        height: 250px;
    }
</style>

<div class="breadcomb-area" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-ctn">
                                    <h1 id="sgName"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active"><a data-toggle="tab" href="#Home">메뉴1</a>
                    </li>
                    <li><a data-toggle="tab" href="#mailbox">메뉴2</a>
                    </li>
                    <li><a data-toggle="tab" href="#Interface">메뉴3</a>
                    </li>
                    <li><a data-toggle="tab" href="#Charts">메뉴4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div id="dashboard">
    <input type="hidden" id="sgId" value="{{sgId}}">
    <div class="contact-info-area mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>스터디규칙</h2>
                            <p>- 일정확인부탁드려요</p>
                            <p>- 열정을 가지고 공부합시다</p>
                            <p>- 백엔드 환영해요</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>일정</h2>
                            <button id="createScheduleBtn" class="btn btn-success notika-btn-success waves-effect">일정만들기</button>
                            <button id="scheduleList" class="btn btn-success notika-btn-success waves-effect">모든일정보기</button>
                            <p>내용 : 모각코해요</p>
                            <p>장소 : 신림역 카페</p>
                            <p>날짜 : 2022/03/07</p>
                            <p>시간 : 오후 2시~5시</p>
                            <button class="btn btn-success notika-btn-success waves-effect">참석</button>
                            <button class="btn btn-success notika-btn-success waves-effect">불참</button>
                            <button class="btn btn-success notika-btn-success waves-effect">지각</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-info-area mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>게시판</h2>
                            <button id="boardListBtn" class="btn btn-success notika-btn-success waves-effect">더보기</button>
                            <p>테스트글1</p>
                            <p>테스트글2</p>
                            <p>테스트글3</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>팀원목록</h2>
                            <div id="memberList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./manage/dashboard.js"></script>
{% endblock %}