{% extends 'common/layout.html' %}

{% block content %}
<style>
    .dbContent {
        height: 250px;
    }
    .noVisible {
        display: none;
    }
</style>

<div class="breadcomb-area" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-ctn">
                                    <h1 id="sgName"></h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active"><a data-toggle="tab" href="#Home">메뉴1</a>
                    </li>
                    <li><a data-toggle="tab" href="#mailbox">메뉴2</a>
                    </li>
                    <li><a data-toggle="tab" href="#Interface">메뉴3</a>
                    </li>
                    <li><a data-toggle="tab" href="#Charts">메뉴4</a>
                    </li>
                    <li>
                        <button type="button" class="btn btn-default noVisible" id="scsnBtn" data-toggle="modal" data-target="#scsnModal">스터디 탈퇴하기</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="dashboard">
    <input type="hidden" id="sgId" value="{{sgId}}">
    <div class="contact-info-area mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>스터디규칙</h2>
                            <button id="createRuleBtn" class="btn btn-success notika-btn-success waves-effect noVisible">등록</button>
                            <button id="modifyRuleBtn" class="btn btn-success notika-btn-success waves-effect noVisible">수정</button>
                            <button type="button" class="btn btn-default noVisible" id="removeRuleBtn" data-toggle="modal" data-target="#removeRuleModal">삭제</button>
                            <div class="nk-int-st">
                                <textarea id="ruleText" class="form-control noVisible" rows="5" placeholder=""></textarea>
                            </div>
                            <div class="nk-int-mk sl-dp-mn" id="ruleY">
                                <h2 id="ruleContent"></h2>
                            </div>
                            <button id="confirmBtn" class="btn btn-success notika-btn-success waves-effect noVisible">확인</button>
                            <button id="cancelBtn" class="btn btn-success notika-btn-success waves-effect noVisible">취소</button>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>일정</h2>
                            <input type="hidden" id="ssId" value="">
                            <button id="scheduleDetail" class="btn btn-success notika-btn-success waves-effect">상세보기</button>
                            <button id="createScheduleBtn" class="btn btn-success notika-btn-success waves-effect">일정만들기</button>
                            <button id="scheduleList" class="btn btn-success notika-btn-success waves-effect">모든일정보기</button>
                            <p id="ssTopic"></p>
                            <p id="ssPlace"></p>
                            <p id="ssDate"></p>
                            <p id="ssDateTime"></p>
                            <button id="attendBtn" class="btn btn-success notika-btn-success waves-effect noVisible">참석</button>
                            <button id="absenceBtn" class="btn btn-success notika-btn-success waves-effect noVisible">불참</button>
                            <button id="beingLateBtn" class="btn btn-success notika-btn-success waves-effect noVisible">지각</button>
                            
                            <input type="hidden" id="ssaId" value="">
                            <span id="voteResult" class="noVisible"></span>
                            <button id="reVoteBtn" class="btn btn-success notika-btn-success waves-effect noVisible">다시투표하기</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="contact-info-area mg-t-30">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>게시판</h2>
                            <button id="boardListBtn" class="btn btn-success notika-btn-success waves-effect">더보기</button>
                            <p>테스트글1</p>
                            <p>테스트글2</p>
                            <p>테스트글3</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 dbContent">
                    <div class="contact-inner dbContent">
                        <div class="contact-hd widget-ctn-hd">
                            <h2>팀원목록</h2>
                            <button id="scheduleAtndnList" class="btn btn-success notika-btn-success waves-effect">출결현황</button>
                            <button id="memberDetail" class="btn btn-success notika-btn-success waves-effect">팀원상세</button>
                            <div id="memberList"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 규칙삭제확인 모달창 -->
<div class="modal fade removeRuleModal" id="removeRuleModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>규칙을 삭제하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="removeRuleOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /규칙삭제확인 모달창 -->

<!-- 스터디 탈퇴 확인 모달창 -->
<div class="modal fade scsnModal" id="scsnModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>정말로 스터디를 탈퇴하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="scsnOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /스터디 탈퇴 확인 모달창 -->
{% endblock %}

{% block script %}
<script src="./manage/dashboard.js"></script>
{% endblock %}