{% extends 'common/layout.html' %}

{% block content %}
<style>
    .noVisible {
        display: none;
    }
    .margin0 {
        margin: 0px;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .active {
        font-weight: bold;
    }
</style>

<div id="dashBoardTitle">
</div>

<div class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                        <button id="modifyBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" style="margin-bottom: 0;">스터디 수정하기</button>
                        <button id="openBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#openModal" style="margin-bottom: 0;">스터디 모집열기</button>
                        <button id="scsnBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#scsnModal" style="margin-bottom: 0;">스터디 탈퇴하기</button>
                        <button id="closeBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#closeModal" style="margin-bottom: 0;">스터디 폐쇄하기</button>
                        <button id="goDashBoard" class="btn btn-default btn-icon-notika waves-effect" style="margin: 0px;"><i class="notika-icon notika-menus"></i>&nbsp;대시보드</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="normal-table-area">
    <input type="hidden" id="sgId" value="{{sgId}}">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="normal-table-list mg-t-30">
                    <div class="basic-tb-hd">
                        <h2>팀원 상세</h2>
                    </div>
                    <button type="button" id="modifyLeaderBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#modifyLeaderModal">팀장 변경</button>
                    <div class="bsc-tbl-hvr">
                        <table class="table table-hover text-center">
                            <thead>
                                <tr>
                                    <th id="radioBtn" class="noVisible text-center"></th>
                                    <th class="text-center">닉네임</th>
                                    <th class="text-center">이메일</th>
                                    <th class="text-center">권한</th>
                                    <th class="text-center">스터디가입일</th>
                                    <th class="text-center">참석</th>
                                    <th class="text-center">지각</th>
                                    <th class="text-center">불참</th>
                                </tr>
                            </thead>
                            <tbody id="memberList">
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 팀장 변경 확인 모달창 -->
<div class="modal fade modifyLeaderModal" id="modifyLeaderModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>팀장을 변경하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="modifyLeaderOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /팀장 변경 확인 모달창 -->

<!-- 스터디 탈퇴 확인 모달창 -->
<div class="modal fade scsnModal" id="scsnModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>정말로 스터디를 탈퇴하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="scsnOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /스터디 탈퇴 확인 모달창 -->

<!-- 스터디 폐쇄 확인 모달창 -->
<div class="modal fade closeModal" id="closeModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>정말로 스터디를 폐쇄하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="closeOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /스터디 폐쇄 확인 모달창 -->

<!-- 스터디 모집열기 확인 모달창 -->
<div class="modal fade openModal" id="openModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>스터디를 모집하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="openOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /스터디 모집열기 확인 모달창 -->
{% endblock %}

{% block script %}
<script src="./manage/memberList.js"></script>
{% endblock %}