{% extends 'common/layout.html' %}

{% block content %}
<style>
    .noVisible {
        display: none;
    }
</style>

<div class="breadcomb-area" style="background-color: white;">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-12 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-ctn">
                                    <h1>제목test</h1>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    <li class="active"><a data-toggle="tab" href="#Home">메뉴1</a>
                    </li>
                    <li><a data-toggle="tab" href="#mailbox">메뉴2</a>
                    </li>
                    <li><a data-toggle="tab" href="#Interface">메뉴3</a>
                    </li>
                    <li><a data-toggle="tab" href="#Charts">메뉴4</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" id="ssId" value="{{ssId}}">
                <input type="hidden" id="sgId" value="{{sgId}}">
                <div class="form-element-list mg-t-30">
                    <div id="boardDetail">
                        <div class="basic-tb-hd">
                            <h1 id="ssTopic"></h1>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="ssContent"></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="ssPlace"></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="ssDate"></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="ssDateTime"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default noVisible" id="modifyBtn" data-dismiss="modal">수정</button>
                    <button type="button" class="btn btn-default noVisible" id="removeBtn" data-toggle="modal" data-target="#removeModal">삭제</button>
                    <button id="attendBtn" class="btn btn-success notika-btn-success waves-effect noVisible">참석</button>
                    <button id="absenceBtn" class="btn btn-success notika-btn-success waves-effect noVisible">불참</button>
                    <button id="beingLateBtn" class="btn btn-success notika-btn-success waves-effect noVisible">지각</button>
                    <input type="hidden" id="ssaId" value="">
                    <span id="voteResult" class="noVisible"></span>
                    <button id="reVoteBtn" class="btn btn-success notika-btn-success waves-effect noVisible">다시투표하기</button>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h2 id="attend"></h2>
                                <h2 id="absence"></h2>
                                <h2 id="beingLate"></h2>
                                <h2 id="noVote"></h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- 일정 삭제확인 모달창 -->
<div class="modal fade removeModal" id="removeModal" role="dialog">
    <div class="modal-dialog modals-default">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>
            <div class="modal-body">
                <h2>일정을 삭제하시겠습니까?</h2>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" id="removeOkBtn" data-dismiss="modal">확인</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
            </div>
        </div>
    </div>
</div>
<!-- /일정 삭제확인 모달창 -->


{% endblock %}

{% block script %}
<script src="./manage/scheduleDetail.js"></script>
{% endblock %}