{% extends 'common/layout.html' %}

{% block content %}
<style>
    .margin0 {
        margin: 0;
    }
    .backgroundColorWhite {
        background-color: white;
    }
    .hover-color:hover {
        background-color: #EEEEEE;
    }
    .closed {
        opacity: 0.4;
    }
    .active {
        font-weight: bold;
    }
    .radiusDiv {
        border-radius: 15px;
    }
    .fontWeightBold {
        font-weight: bold;
    }
    #calenderTb tr td {
        border: none;
    }
</style>

<div id="dashBoardTitle">
</div>

<div class="navbar">
    <div class="navbar-inner backgroundColorWhite">
        <div class="container-pro wizard-cts-st">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="#" data-toggle="tab">대시보드</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">일정</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">게시판</a>
                </li>
                <li class="">
                    <a href="#" data-toggle="tab">팀원목록</a>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="contact-info-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-right">
                        <button id="goDashBoard" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-menus"></i>&nbsp;대시보드</button>
                        <button id="createScheduleBtn" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-checked"></i>&nbsp;일정등록</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<input type="hidden" id="sgId" value="{{sgId}}">
<div id="scheduleList">
</div>
{% endblock %}

{% block script %}
<script src="./manage/scheduleList.js"></script>
{% endblock %}