{% extends 'common/layout.html' %}

{% block content %}
<style>
    .dbContent {
        height: 250px;
    }
    .noVisible {
        display: none;
    }
</style>

<div class="login-content">
    <!-- 로그인 -->
    <div class="nk-block toggled" id="l-login">
        <div class="nk-form" style="padding: 30px;">
            <div class="input-group">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                <div class="nk-int-st">
                    <input type="text" id="loginEmail" class="form-control" placeholder="이메일">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                <div class="nk-int-st">
                    <input type="password" id="loginPwd" onkeyup="loginEnterKey()" class="form-control" placeholder="비밀번호">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span id="loginMessageBox" class="noVisible" style="margin-left: 40px; font-weight: bold;">이메일 또는 비밀번호를 확인하세요.</span>
            </div>
            <div>
                <a href="javascript:;" id="loginSubmit" class="btn btn-success notika-btn-success">로그인</a>
            </div>
        </div>
        <div class="nk-navigation nk-lg-ic">
            <a href="/auth/kakao" style="all: unset; cursor:pointer;"><img id="kakaoLogin" src="images/kakao_login_small.png" alt="" /></a>
            <a href="#" id="goJoin" data-ma-action="nk-login-switch" data-ma-block="#l-register" class="text-center" style="width: 90px; text-align: center; padding-top: 4px; border-radius: 5px;">회원가입</a>
        </div>
    </div>
    <!-- /로그인 -->

    <!-- 회원가입 -->
    <div class="nk-block" id="l-register">
        <div class="nk-form" style="padding: 30px;">
            <div class="input-group">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-mail"></i></span>
                <div class="nk-int-st">
                    <input type="text" id="joinEmail" class="form-control" placeholder="이메일">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                <div class="nk-int-st">
                    <input type="password" id="joinPassword" class="form-control" placeholder="비밀번호 (8 ~ 10자 영문, 숫자 조합)">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-edit"></i></span>
                <div class="nk-int-st">
                    <input type="password" id="joinPasswordOk" class="form-control" placeholder="비밀번호 확인">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span class="input-group-addon nk-ic-st-pro"><i class="notika-icon notika-support"></i></span>
                <div class="nk-int-st">
                    <input type="text" id="joinNickname" class="form-control" onkeyup="joinEnterKey()" placeholder="닉네임">
                </div>
            </div>
            <div class="input-group mg-t-15">
                <span id="joinMessageBox" class="noVisible" style="margin-left: 40px; font-weight: bold;"></span>
            </div>
            <div>
                <a href="javascript:;" id="joinSubmit" class="btn btn-success notika-btn-success">회원가입</a>
            </div>
        </div>
        <div class="nk-navigation rg-ic-stl">
            <a href="#" id="goLogin" data-ma-action="nk-login-switch" data-ma-block="#l-login" class="text-center" style="width: 110px; text-align: center; padding-top: 4px; border-radius: 5px;"><i class="notika-icon notika-left-arrow" style="line-height: 20px;"></i>로그인</a>
        </div>
    </div>
    <!-- /회원가입 -->
</div>
{% endblock %}

{% block script %}
<script src="./user/login.js"></script>
{% endblock %}