<style>
    .fontMedium {
        font-size: medium;
    }
</style>

<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/"><img src="img/logo/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        <input type="hidden" id="sessionUserId" value="{{user.USER_ID}}">
                        {% if user %}
                        <li class="nav-item">
                            <a href="/myStudy" role="button" aria-expanded="false" class="nav-link">
                                <span class="fontMedium">내스터디</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/bookmark" role="button" aria-expanded="false" class="nav-link">
                                <span class="fontMedium">내북마크</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/auth/logout" role="button" aria-expanded="false" class="nav-link">
                                <span class="fontMedium">로그아웃</span>
                            </a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="/login" role="button" aria-expanded="false" class="nav-link">
                                <span class="fontMedium">로그인</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>