<style>
    .alignCenter {
        text-align: center;
    }
</style>

<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                <div class="logo-area">
                    <a href="/"><img src="img/logo/logo.png" alt="" /></a>
                </div>
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        <input type="hidden" id="sessionUserId" value="{{user.USER_ID}}">
                        {% if user %}
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle">
                                {{user.USER_NICKNAME}}
                            </a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn alignCenter" style="padding: 0px; width: 170px;">
                                <div class="hd-message-info">
                                    <a href="/myStudy">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <h3>내 스터디</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/bookmark">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <h3>내 북마크</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/auth/logout">
                                        <div class="hd-message-sn">
                                            <div class="hd-mg-ctn">
                                                <h3>로그아웃</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a href="/login" role="button" aria-expanded="false" class="nav-link">
                                <span>로그인</span>
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>