{% extends 'common/layout.html' %}

{% block content %}
<style>
    .form-group {
        margin-bottom: 30px;
    }
    .noVisible {
        display: none;
    }
    .whiteSpace {
        word-wrap: break-word;      /* IE 5.5-7 */
        white-space: -moz-pre-wrap; /* Firefox 1.0-2.0 */
        white-space: pre-wrap;
    }
    .stNameStyle{
        background-color: #F0EEE8;
        padding: 4px 6px;
        margin-right : 4px;
        border-radius: 6px;
    }
    .floatLeft {
        float: left;
    }
    .btn-default.btn-icon-notika, .marginBottom0 {
        margin-bottom: 0px;
    }
    .backColorGreen {
        background-color: #00c292;
    }
    .fontSizeInherit {
        font-size: inherit;
    }
    .validateEm {
        background-color: #00c292;
    }
    .fontLarge {
        font-size: large;
    }
</style>

<div class="typography-area">
    <div class="container">
        <div class="row">
            <div id="recruitDetail" class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <input type="hidden" id="sgId" value="{{sgId}}">
                <input type="hidden" id="sMCnt">
                <input type="hidden" id="sgCnt">
                <div class="typography-heading typography-mgn mg-t-30">
                    <div id="studyDetail" class="typography-hd-cr-1">
                        <span id="sgCategoryDesc" class="label label-info backColorGreen fontSizeInherit"></span>
                        <h1 id="srTitle" class="mg-t-10"></h1>
                        <div id="userInfo" class="floatLeft fontLarge">
                        </div>
                        <div class="text-right fontLarge mg-b-15">
                            <span id="sbRegDate"></span>&nbsp;&nbsp;

                            <i class="fas fa-eye"></i>
                            <span id="sbViews"></span>&nbsp;&nbsp;
                            
                            <i id="studyBkmN" class="far fa-bookmark" style="color:darkgreen;"></i>
                            <i id="studyBkmY" class="fas fa-bookmark noVisible" style="color:darkgreen;"></i>
                            <span id="srbCnt"></span>
                        </div>
                        <p id="stNameDesc">
                        </p>
                    </div>
                    <div class="typography-hd-cr-2">
                        <p class="whiteSpace" id="srContent">
                        </p>
                    </div>
                    <div class="text-right">
                        <h4>
                            <i class="fas fa-user-friends"></i> <span id="cnt"></span>
                        </h4>
                        <button id="joinBtn" class="btn btn-default btn-icon-notika waves-effect noVisible"><i class="notika-icon notika-checked"></i>&nbsp;스터디참여하기</button>
                        <button id="modifyBtn" class="btn btn-default btn-icon-notika waves-effect noVisible">수정</button>
                        <button id="completeBtn" class="btn btn-default btn-icon-notika waves-effect noVisible" data-toggle="modal" data-target="#completeModal"><i class="notika-icon notika-checked"></i>&nbsp;모집완료</button>
                        <button id="goList" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-menus"></i>&nbsp;목록</button>
                    </div>
                </div>
                <div class="typography-list typography-mgn mg-t-30">
                    <h2>댓글</h2>
                    <div class="nk-int-st mg-b-15">
                        <textarea id="srcContent" class="form-control" rows="5" placeholder="내용을 입력해 주세요."></textarea>
                    </div>
                    <div id="createValidate">
                    </div>
                    <div class="mg-b-15 text-right">
                        <button id="createBtn" class="btn btn-default btn-icon-notika waves-effect"><i class="notika-icon notika-checked"></i> 댓글등록</button>
                    </div>
                    <div id="commentList">
                    </div>
                </div>
            </div>

            <!-- 댓글삭제확인 모달창 -->
            <div class="modal fade removeModal" id="removeCommentModal" role="dialog">
                <div class="modal-dialog modals-default">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h2>댓글을 삭제하시겠습니까?</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="removeCommentOkBtn" data-dismiss="modal">확인</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /댓글삭제확인 모달창 -->

            <!-- 모집완료확인 모달창 -->
            <div class="modal fade completeModal" id="completeModal" role="dialog">
                <div class="modal-dialog modals-default">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                        </div>
                        <div class="modal-body">
                            <h2>모집완료하시겠습니까?</h2>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" id="completeOkBtn" data-dismiss="modal">확인</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                        </div>
                    </div>
                </div>
            </div>
            <!-- /모집완료확인 모달창 -->
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./recruit/detail.js"></script>
{% endblock %}
