{% extends 'common/layout.html' %}

{% block content %}
<style>
    .form-group {
        margin-bottom: 30px;
    }

    .commentBtnDiv {
        margin-bottom: 30px;
    }

    .commentModifyBtn {
        margin-top: 10px;
    }
</style>

<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" id="recruitDetail">
                <input type="hidden" id="sgId" value="{{sgId}}">
                <div class="form-element-list mg-t-30">
                    <div id="studyDetail">
                        <div class="basic-tb-hd">
                            <h1 id="srTitle"></h1>
                            <span id="userNickname"></span> | 
                            <span id="sbRegDate"></span> | 
                            조회수 <span id="sbViews"></span> |
                            북마크 <span id="srbCnt"></span>
                            <span id="srbYn"></span>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="stNameDesc"></h2>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk sl-dp-mn">
                                    <h2 id="srContent"></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-default" id="modifyBtn" data-dismiss="modal">수정</button>
                    <button type="button" class="btn btn-default" id="completeBtn" data-toggle="modal" data-target="#completeModal">모집완료</button>
                    <hr>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="nk-int-mk sl-dp-mn">
                                <h4>댓글</h4>
                                <textarea id="srcContent" class="form-control" rows="5" placeholder=""></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-int mg-t-15 commentBtnDiv">
                                <button id="createBtn" class="btn btn-success notika-btn-success waves-effect">댓글달기</button>
                            </div>
                        </div>
                    </div>
                    <div id="commentList">
                        
                    </div>

                    <!-- 댓글삭제확인 모달창 -->
                    <div class="modal fade removeModal" id="removeCommentModal" role="dialog">
                        <div class="modal-dialog modals-default">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h2>댓글을 삭제하시겠습니까?</h2>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="removeCommentOkBtn" data-dismiss="modal">확인</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /댓글삭제확인 모달창 -->

                    <!-- 모집완료확인 모달창 -->
                    <div class="modal fade completeModal" id="completeModal" role="dialog">
                        <div class="modal-dialog modals-default">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <h2>모집완료하시겠습니까?</h2>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" id="completeOkBtn" data-dismiss="modal">확인</button>
                                    <button type="button" class="btn btn-default" data-dismiss="modal">취소</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /모집완료확인 모달창 -->

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="./recruit/detail.js"></script>
{% endblock %}
